{% extends "main/base.html" %}

{% block content %}
    {% csrf_token %}

    <table id="courseData">
        <tr>
            {% if currentUser.groupid < 3 %}
                <td>
                    <h1 align="center">Section Modification</h1>
                </td>
            {% endif %}
            <td>
                <h1 align="center">CS{{ currentCourse.number }}: {{ currentCourse.name }} -- {{ currentCourse.semester }}</h1>
            </td>

        </tr>

            {% if currentUser.groupid < 3 %}
                <td align="center"; width="33%"; valign="top">
                    <table>
                        <tr>
                                <td>
                                    <form action="{% url 'courseview' %}" method="post">
                                        {% csrf_token %}
                                        <table>
                                            <tr>
                                                <td>Section Number:</td>
                                                <td><input type="text" name="number" required/></td>
                                            </tr>
                                        <tr>
                                            <td>Instructor:</td>
                                            <td>
                                                <select name="instructor">
                                                <option value="" selected>No Instructor</option>
                                                    {% for instructor in instructorList %}
                                                        <option value="{{ instructor.SignInName }}">{{ instructor.userName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        </table>
                                        <br>
                                        <input type="hidden" name="currentCourse" value="{{ currentCourse.name }}"/>
                                        <input type="submit" name="create_section" value="Create New Section" />
                                    </form>
                                </td>
                        </tr>
                    <tr>
                            <td>
                                <form action="{%  url 'courseview' %}" method="post">
                                    {%  csrf_token %}
                                    <table>
                                        <tr>
                                            <td>Section Number:</td>
                                            <td><input type="text" name="number" required/></td>
                                        </tr>
                                        <tr>
                                            <td>New Instructor:</td>
                                            <td>
                                                <select name="instructor">
                                                <option value="" selected>Remove Instructor</option>
                                                    {% for instructor in instructorList %}
                                                        <option value="{{ instructor.SignInName }}">{{ instructor.userName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <input type="hidden" name="currentCourse" value="{{ currentCourse.name }}"/>
                                    <input type="submit" name="update_instructor" value="Update Instructor" />
                                </form>
                            </td>
                    </tr>

                    <tr>
                        <td>
                            <h1 align="center">Edit Current Course</h1>
                            <form action="{%  url 'courseview' %}" method="post">
                                {%  csrf_token %}
                                <table>
                                    <tr>
                                        <td>Name:</td>
                                        <td><input type="text" name="name"/></td>
                                    </tr>
                                    <tr>
                                        <td>Number:</td>
                                        <td><input type="text" name="number"/></td>
                                    </tr>
                                    <tr>
                                        <td>Semester:</td>
                                        <td><input type="text" name="semester"/></td>
                                    </tr>
                                </table>
                                <br>
                                <input type="hidden" name="currentCourse" value="{{ currentCourse.name }}"/>
                                <input type="submit" name="update_course" value="Update Course" />
                            </form>
                        </td>
                    </tr>
                    </table>
                </td>
            {% endif %}

            <td id="courseData">
                <table>
                    {% for section in listSection %}
                        <tr>
                            <a class="courseLinks" href="/sectionview?info={{ currentCourse.name }}?{{ section.number }}">Section {{ section.number }} taught by {{ section.instructor }}</a>
                        </tr>
                    {% endfor %}
                </table>
            </td>

    </table>

{% endblock %}
