{% extends "main/base.html" %}

{% block content %}
    {% csrf_token %}

    <table width=100%>

        <tr>
            {% if currentUser.groupid < 3 %}
                <td><h1 align="center">Create Course</h1></td>
            {% endif %}
            <td><h1 align="center">Course List</h1></td>
        </tr>

        <tr>

        {% if currentUser.groupid < 3 %}
            <td>
                <form action="{% url 'courses' %}" method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" required/></td>
                        </tr>
                        <tr>
                            <td>Number:</td>
                            <td><input type="text" name="number" required/></td>
                        </tr>
                        <tr>
                            <td>Semester:</td>
                            <td><input type="text" name="semester" required/></td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" name="create_course" value="Create New Course" />
                </form>
            </td>
        {% endif %}

            <td>
                    {% for course in allClasses %}
                            <a class="courseLinks" href="/courseview?coursename={{ course.name }}">CS{{ course.number }} : {{ course.name }}</a>
                        <br>
                    {% endfor %}
            </td>
        </tr>

    </table>

{% endblock %}
