{% extends "main/base.html" %}

{% block content %}
    {% csrf_token %}

    <table id="courseData">
        <tr>

            <td>
                {% if currentUser.groupid < 3 %}
                        <h1 align="center">Section Modification</h1>
                {% endif %}
            </td>
            <td>
                <h1 align="center">CS{{ currentCourse.number }}: {{ currentCourse.name }} -- {{ currentCourse.semester }}</h1>
            </td>

        </tr>

            <td align="center"; width="33%"; valign="top">
                <table>
                    <tr>
                        {% if currentUser.groupid < 3 %}
                            <td>
                                <form action="{% url 'courseview' %}" method="post">
                                    {% csrf_token %}
                                    <table>
                                        <tr>
                                            <td>Section Number:</td>
                                            <td><input type="text" name="number" required/></td>
                                        </tr>
                                        <tr>
                                            <td>Instructor:</td>
                                            <td><input type="text" name="instructor"/></td>
                                        </tr>
                                    </table>
                                    <br>
                                    <input type="hidden" name="currentCourse" value="{{ currentCourse.name }}"/>
                                    <input type="submit" name="create_section" value="Create New Section" />
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                <tr>
                    {% if currentUser.groupid < 3 %}
                        <td>
                            <form action="{%  url 'courseview' %}" method="post">
                                {%  csrf_token %}
                                <table>
                                    <tr>
                                        <td>Section Number:</td>
                                        <td><input type="text" name="number" required/></td>
                                    </tr>
                                    <tr>
                                        <td>New Instructor:</td>
                                        <td><input type="text" name="newInstructor" required/></td>
                                    </tr>
                                </table>
                                <br>
                                <input type="hidden" name="currentCourse" value="{{ currentCourse.name }}"/>
                                <input type="submit" name="update_instructor" value="Update Instructor" />
                            </form>
                        </td>
                    {% endif %}
                </tr>
                </table>
            </td>

            <td id="courseData">
                <table>
                    {% for section in listSection %}
                        <tr>
                            <a class="courseLinks" href="/sectionview?info={{ currentCourse.name }}?{{ section.number }}">Section {{ section.number }} taught by {{ section.instructor }}</a>
                        </tr>
                    {% endfor %}
                </table>
            </td>

    </table>

{% endblock %}
