{% extends "main/base.html" %}

{% block content %}
    {% csrf_token %}

    <table width=100%>

        <tr>
            <td><h1 align="center">Lab List</h1></td>
        </tr>

        <tr>
            <td id ="courseDATA">
                    {% for lab in allLabs %}
                            <a class="courseLinks" href="/courseinfo?info={{ currentCourse }}?{{ currentSection }}?{{ lab.number }}">{{ currentCourse }} Section:{{ currentSection }} Lab:{{ lab.number }}</a>
                        <br>
                    {% endfor %}
            </td>
        </tr>

    </table>

{% endblock %}