{% extends "main/base.html" %}

{% block content %}
    {% csrf_token %}

    <h1> {{ currentCourse.name }} </h1>
    <table width=100%>
    <tr>
            <td>
                <table>
                    <tr>
                        <td>Number: {{ currentSection.number }}</td>
                    </tr>
                    <tr>
                        <td>Place: {{ currentSection.place }}</td>
                    </tr>
                    <tr>
                        <td>Days: {{ currentSection.days }}</td>
                    </tr>
                    <tr>
                        <td>Time: {{ currentSection.time }}</td>
                    </tr>
                    <tr>
                        <td>Instructor: {{ currentSection.instructor.userName }}</td>
                    </tr>
                <td>
                <table>
                    <tr>
                        <td> Labs(s):
                        {% for lab in labList %}
                             <a href="/labview?info={{ currentCourse.name }}?{{ currentSection.number }}?{{ lab.number }}">[{{ lab.number }}, {{ lab.ta }}]</a>
                        {% endfor %}
                        </td>
                    </tr>
                </table>
            </td>
                </table>
            </td>
            {% if currentUser.groupid < 3 %}
                <td>
                <form action="{% url 'sectionview' %}" method="post">
                    {% csrf_token %}
                        <table>
                            <tr>
                                <td>Lab Number:</td>
                             <td><input type="text" name="number" required/></td>
                         </tr>
                         <tr>
                              <td>TA:</td>
                              <td><input type="text" name="ta"/></td>
                            </tr>
                      </table>
                        <br>
                        <input type="hidden" name="currentCourse" value="{{ currentCourse.name }}"/>
                        <input type="hidden" name="currentSection" value="{{ currentSection.number }}"/>
                        <input type="submit" name="create_lab" value="Create New Lab" />
                    </form>
                </td>
                {% endif %}
        </tr>

    </table>

{% endblock %}
