{% extends "main/base.html" %}

{% block content %}
    <h1>{{ SignInName }}</h1>
    <form action="{% url 'user' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name: {{ name }}</td>
            </tr>
            <tr>
                <td>Email: {{ email }}</td>
            </tr>
            <tr>
                <td>Username: {{ SignInName }}</td>
            </tr>
            <tr>
                <td>Password: {{ password }}</td>
            </tr>
            <tr>
                <td>Phone: {{ phone }}</td>
            </tr>
            <tr>
                <td>Address: {{ address }}</td>
            </tr>
            <tr>
                <td>ID: {{ groupid }}</td>
            </tr>
        </table>
    </form>
    <ul>
        {% for user in allusers %}
            <li> {{ user.userName }} : {{ user.userEmail }}</li>
        {% endfor %}
    </ul>

{% endblock %}
