body {
    background-color: lightgray;
}

menu {
    width: 100%;
    align-content: center;
}

menu.menu_el {
    display: table;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

a.courseLinks {
    text-decoration: none;
    color: black;
}

table#courseData {
    width:100%;
}

td#courseData a:nth-of-type(odd) {
    text-align: center;
    background-color: #969696;
    color: black;
    display: inline-block;
    width:95%;
    height:100%;
    padding:10px;
}
td#courseData a:nth-of-type(even) {
    text-align: center;
    background-color: lightgray;
    color: black;
    display: inline-block;
    width:95%;
    height:100%;
    padding:10px;
}

table#userTable {
    width: 100%;
}

table#userTable tr:nth-of-type(odd) {
    background-color: #969696;
    text-align: center;
}

table#userTable tr:nth-of-type(even) {
    text-align:center;
}